@use 'src/styles/_vars.scss';

.products{
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: auto;
  background: vars.$colorBeige;
  &-searchBar {
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   margin: 17px 0 10px;
   
   &-input{
    border: none;
    width: 180px;
    height: 30px;
    font-family: vars.$fontLekton;
    
    margin-left: 30px;
    animation: opening 0.5s;
    }
  }
  &-categories {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: vars.$fontMontserrat;
    text-decoration: none;
    font-size: 1.2em;
    background: vars.$colorBeige;
  }
  &-categoryName{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: vars.$colorMediumGreen;
    border-bottom: solid 2px vars.$colorMediumGreen;
    padding: 0 0 25px 25px;
  }
  &-header{
    position: fixed;
    height: 90px;
    margin-bottom: 20px;
    z-index: 3;
    background: vars.$colorBeige;

  }
  &-items{
    margin-top: 150px;
  }
}
.hidden {
  display: none; 
}
.active{
  color: vars.$colorDarkGreen;
  border-bottom: solid 2px vars.$colorDarkGreen;
  font-weight: 500;
}
@keyframes opening {
  from {
    width: 0;
  }
  to {
    width: 180px;
  }
}

@media only screen and (min-width: 576px) {
  
 .products-header{
    margin-left: 30px;
}

 .products-categoryName {
   font-size: 1.5em;
 }
}
