@use 'src/styles/_vars.scss';

.products{
width: 100vw;
height: 100vh;
display: block;
overflow: auto;
margin: 10px;
  &-searchBar {
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   margin-top: 7px;
   &-input{
    border: none;
    width: 200px;
    height: 30px;
    font-family: vars.$fontLekton;
    }
  }
  &-categories {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: vars.$fontMontserrat;
    text-decoration: none;
    font-size: 1.2em;
    padding-bottom: 20px;
  }
  &-categoryName{
    flex: auto;
    text-decoration: none;
    color: vars.$colorMediumGreen;
    border-bottom: solid 1px vars.$colorMediumGreen;
    padding: 0 0 20px 15px;
  }
  &-header{
    position: sticky;
  }
}
.hidden {
  display: none; 
}