@use 'src/styles/_vars.scss';

.orderHistory {
position: relative;
  &-title {
    position: sticky;
    font-size: 1.5em;
    width: 100%;
    color: vars.$colorDarkGreen;
    margin-bottom: 30px;
    font-weight: 500;
    padding: 4px;
  }

  &-one{
    margin-top: 30px;
    background-color: vars.$colorLightGreen;
    font-family: vars.$fontLekton;
    color: vars.$colorDarkGreen;
    font-weight: 400;
    box-shadow: 2px 2px 2px grey;
    margin-left: 14%;
    width: 79%;
    padding: 2% 1%;
  }

  &-date, &-depot, &-price{
    font-weight: bold;
  }
  &-product{
    font-weight: 500;
    color: vars.$colorMediumGreen;
  }
  &-button{
    margin-top: 3%;
    padding: 1%;
    font-family: vars.$fontLekton;
    color: vars.$colorDarkGreen;
    font-weight: bold;
    background-color: vars.$colorLightGreen;
    border: none;
    box-shadow: 5px 5px 5px grey;
  }

}
@media only screen and (min-width: 1024px) {

  .orderHistory-one{
    margin-left: 10%;
    width: 79%;
  }
  // .orderHistory-header{
  //   position: fixed;
  //   width: 49%;
  // }

}
