@use 'src/styles/_vars.scss';

.form{
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    z-index: 3;
    background: vars.$colorBeige;
    border-bottom: 1px solid vars.$colorMediumGreen;
  }

  &-title{
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 11%;
    font-family: vars.$fontLekton;
    color: vars.$colorDarkGreen;
  }
  
  &-button {
    margin-right: 3px;
  }
}



p.updateUserAccount.input-item{
  background-color: vars.$colorBeige;
  border: none;
  color: vars.$colorDarkGreen;
}
.updateUserAccount {
  background: vars.$colorBeige;
  color: vars.$colorDarkGreen;
  font-weight: bold;
  overflow: auto;
  margin-bottom: 10px;
  font-family: vars.$fontLekton;
  

  &.container{
    height: 8vh;
  }
  &.button{
    font-size: 0.9em;
    width: 80%;
    margin-inline: 10%;
    border: 1px solid vars.$colorBeige;
  }

}
.updateUserAccount .input-item {
  font-family: vars.$fontLekton;
  border: 0.1px solid vars.$colorveryLightGreen;
  background-color: vars.$colorMediumGreen;
  padding: 4%;
  font-size: 0.7em;
  padding: 2%;
  margin: 0 30px;
  left: 10;
  color: vars.$colorMediumGreen;
  text-align: center;
}
.errorMessage{
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  font-size: 1.2em;
  font-weight: 500;
 &-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 }
 &-li { 
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
 }
 &-errorMessage-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 }
}
@media only screen and (min-width: 576px) {
  .form-button {
    margin-right: -34px;
  }

  .updateUserAccount.button {
    margin-left: 13%;
  }
}

@media only screen and (min-width: 800px) {

  .updateUserAccount.button {
    margin-left: 12%;
  }
}

@media only screen and (min-width: 1024px) {
  .form {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    margin: 0;
    text-align: center;

    &-button {
      margin-left: -24px;
    }

  }
  // h2{
  //   margin-bottom: 8%;
  // }
  input {
    margin-left: 10px;
  }
  .updateUserAccount {

    text-align: center;

    &.list-item{

      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8em;
    }

    &.input-item{
      padding: 2%;
    }
  }
}
