@use 'src/styles/_vars.scss';

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.updateUserAccount {
  background: vars.$colorBeige;
  color: vars.$colorDarkGreen;
  font-weight: bold;
  overflow: auto;
  margin-bottom: 10px;
  font-family: vars.$fontLekton;


  &.button{
    border: 1px solid vars.$colorMediumGreen;
    background-color: vars.$colorBeige;
    font-size: 1.5em;
    padding: 2%;
    font-family: vars.$fontLekton;
  }

}
.updateUserAccount.input-item {
  color: vars.$colorDarkGreen;
  font-family: vars.$fontLekton;
  border: 0.1px solid vars.$colorveryLightGreen;
  background-color: vars.$colorMediumGreen;
  padding: 4%;
}
