
// Font
$fontMontserrat:'Hatton-medium', sans-serif;
$fontLekton:'Quicksand', sans-serif;


// Font colors


$colorveryLightGreen: #F1F5DF;
$colorLightGreen:#f2f5df;
$colorMediumGreen:#70bd9d;
$colorBackgroundButton:#65b392;
$colorDarkGreen: #356859;
$colorBeige:#fffbe6;
$colorOrange:#fd7c55;
$colorTitleLogin:#967a50;






// $colorveryLightGreen: #F1F5DF;
// $colorLightGreen:#e7ecbd;
// $colorMediumGreen:#70bd9d;
// $colorBackgroundButton:#65b392;
// $colorDarkGreen: #356859;
// $colorBeige:#faf8ed;
// $colorOrange:#fd7c55;
// $colorTitleLogin:#967a50;



//#f2f5df;
//#fffbe6;


//#d9e0a5
