
// Font
$fontMontserrat:'Montserrat', sans-serif;
$fontLekton:'Quicksand', sans-serif;


// Font colors
$colorveryLightGreen: #F1F5DF;
$colorLightGreen:#f2f5df;
$colorMediumGreen:rgb(112, 189, 157);
$colorDarkGreen: #356859;
$colorBeige:#fffbe6;
$colorOrange:#fd7c55;

//taille
$sizeH2:60px;
$sizeText:16px;



