body {
  font-family: 'lekton', sans-serif;
  background-color:#FFFBE6;
  size: 14px;
}
//max width 425px
h1 {
 color: #fd5523;
 font-family: 'Montserrat', sans-serif;
 background-color:#B9E4C9 ;

}

h2 {
color:#37966f;
}
