@use 'reset';
@use 'vars';

#root {
  max-width: 450px;
  margin: 1em auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: sans-serif;
}
