@use 'src/styles/_vars.scss';

input{
  box-shadow: 0 0 0px 1000px #F1F5DF inset;
  background: vars.$colorLightGreen;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}