@use 'src/styles/vars';


.login-form {


 
  ._image {
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }


  &-element {
    display: flex;
    align-items: center;
  }

  &-message {
    margin: .3em 1em;
  }

  &-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-button {
    font-size: 1em;
    color: #fff;
    background-color: #fff;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
    
  }
}
