@use 'src/styles/vars';


  .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .form {
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    text-align: center;
    height: 160px;
    width: 63%;
    margin: 30% 18%;

    &_signIn{
      position: relative;
    }
  }

  // &-element {
  //   display: flex;
  //   align-items: center;
  // }

  // &-message {
  //   margin: .3em 1em;
  // }

  // &-logged {
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  // }

  // &-button {
  //   font-size: 1em;
  //   color: #fff;
  //   background-color: #fff;
  //   border-radius: .3em;
  //   border: 0;
  //   padding: .7em;
  //   height: 2.5em;
    
  // }

