@use 'src/styles/_vars.scss';

.check-password{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
}
.close-outline{
  color: rgb(212, 76, 42);
}