@use 'src/styles/_vars.scss';
.category{

  &_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    font-family: vars.$fontLekton;
    color: vars.$colorDarkGreen;
  }
}
