@use 'src/styles/_vars.scss';

.card {
  width: 90vw;
  margin: 5px;
  display: block;
  &_article{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &_button{
    border:none;
    background: vars.$colorBeige;
  }

  &_infos{
    display: flex;
    flex-direction: row;
  }
  &-leftSide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 4px;
  }
  &-title{
    color: vars.$colorDarkGreen;
    font-weight: 600;
  }
  &-unity{
    color: vars.$colorMediumGreen;
    font-weight: 600;
    padding-right: 3px;
  }
  &-price{
    color: vars.$colorDarkGreen;
    font-weight: 600;
  }
}
.doted {
  flex: 1;
  height: 15px;
  border-bottom: dotted 3px vars.$colorMediumGreen;
  margin-bottom: 5px;
}
