@use 'src/styles/_vars.scss';

.card {
  width: 95vw;
  margin: 10px;
  display: block;
  font-size: 1.2em;
  padding-bottom: 13px;
  &_article{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  &-button{
    border:none;
    background: vars.$colorBeige;
    margin-left: 8px;
  }

  &_infos{
    display: flex;
    flex-direction: row;
  }
  &-leftSide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 4px;
  }
  &-title{
    color: vars.$colorDarkGreen;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 5px;
  }
  &-unity{
    color: vars.$colorMediumGreen;
    font-weight: 500;
    padding-right: 3px;
  }
  &-price{
    color: vars.$colorDarkGreen;
    font-weight: 500;
  }
  &-container {
   display: block;
  }
}
.doted {
  flex: 1;
  height: 15px;
  border-bottom: dotted 3px vars.$colorMediumGreen;
  margin-bottom: 5px;
}
.button-group {
  margin-top: 5px;
  display: flex;
  align-items: center;
  &-meta {
    padding-left: 5px;
    color: vars.$colorMediumGreen;
    font-weight: 600;
  }
}

@media only screen and (min-width: 576px) {
  
  .card{
    width: 92vw;
    margin: 10px;
    display: block;
    font-size: 1.2em;
    padding-bottom: 13px;
    margin-left: 50px;
  }
 
   
 }
