@use 'src/styles/_vars.scss';

.card {
  width: 100%;
  margin: 10px;

  &_article{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &_button{
    border:none;
    background: vars.$colorBeige;
  }

  &_infos{
    display: flex;
    flex-direction: row;
  }
  &-leftSide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
}
