@use 'src/styles/_vars.scss';

body{
background: vars.$colorBeige;
}
.container{
  width: 425px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product {
  width: 300px;
  height: 550px;
  background: vars.$colorLightGreen;
  margin: 90px auto;
  &-image {
    width: 100%;
    height: 160px;
    object-fit: none;
  }
  &-title{
    position: absolute;
    top: 60px;
    width: 400px;
    height: 80px;
    z-index: 1;
    margin: auto;
    font-size: 48px;
    font-family: vars.$fontMontserrat;
    font-weight: 600;
    text-align: center;
    color: vars.$colorOrange;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.4);
    background: rgba(226, 221, 199, 0.5);
  }
  &-content {
    width: 100%;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &-content p{
   color: vars.$colorDarkGreen;
   margin: 10px;
  }
  &-info{
    width: 100%;
    height: auto;
    background: vars.$colorBeige;
    
  }
  &-meta {
    width: 100%;
    height: 115px;
    border-bottom: solid 1px vars.$colorMediumGreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-span{
      width: 100px;
      height: 70px;
      text-align: center;
      color: vars.$colorMediumGreen;
    }
    & .span-one {
      border-right: solid 0.2em vars.$colorveryLightGreen;
    }
    & .span-two {
      border-right: solid 0.2em vars.$colorveryLightGreen;
    }
  }
  &-navigation{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: vars.$colorveryLightGreen;
    color: vars.$colorMediumGreen;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &-backward {
      width: 150px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-right: solid 1px vars.$colorMediumGreen;
    }
    &-forward {
      width: 150px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content:flex-end;
    }
    &-cart{
      position:absolute;
      bottom: 73px;
      border: solid 2px vars.$colorDarkGreen;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content:center;
      background: vars.$colorBeige;
    }
  }
}
.container-meta{
  display: flex;
  justify-content:center;
  align-items: center;
  color: vars.$colorDarkGreen;
  padding-top: 18px;
  font-weight: 600;
}
.span-three-info{
  padding-bottom: 10px;
}
