@use 'src/styles/_vars.scss';
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cart-empty{
  width: 1100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: vars.$fontMontserrat;
  &-title {
    color: vars.$colorMediumGreen;
  }
  &-content {
    color: vars.$colorDarkGreen;
    font-weight: 600;
  }
}

