@use 'src/styles/_vars.scss';

.home{

  &_title{
    font-family: vars.$fontMontserrat;
    font-size: 30px;
    color: vars.$colorOrange;
    text-align: center;
  }

  img{
    width: 80%;
  }

  &_basket{
    border: solid black 1px;
    width: 100%;
    text-align: center;
    margin: 5%;
  }

  &_basket h3{
    font-size: 20px;
  }

}
