@use 'src/styles/_vars.scss';
.home-container{
  display: block;
  overflow: auto;
}
.home {
  width: 100vw;
  height: 100vh;
  background: vars.$colorBeige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &-logo {
    width: 320px;
    height: 320px;
  }
  &-annoncement{
    font-family: vars.$fontMontserrat;
    font-size: 40px;
    text-align: center;
    color: vars.$colorDarkGreen;
  }
  &-button {
    font-family: vars.$fontMontserrat;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: vars.$colorBeige;
    color: vars.$colorDarkGreen;
    padding: 4px 4px 4px 13px;
    border-radius: 3px;
  }
}
 
  
ion-icon:active{
    transform: scale(0.97);
}
