@use 'src/styles/_vars.scss';
.home-container{
  display: block;
  width: 100vw;
  height: 100vh;
}
.home {
  width: 100%;
  height: 100vh;
  background: vars.$colorBeige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &-hello {
    margin-bottom: 20px;
  }
  &-logo {
    position: relative;
    width: 50vw;
    top: 0;
  }
  &-annoncement{
    width: 100%;
    font-family: vars.$fontMontserrat;
    font-size: 25px;
    text-align: center;
    color: vars.$colorDarkGreen;
    font-weight: 500;
    ;
    &-closed {
      padding: 0;
      width: 100%;
      font-family: vars.$fontMontserrat;
      font-size: 25px;
      text-align: center;
      color: vars.$colorDarkGreen;
      font-weight: 500;
    }
  }
  &-button {
    font-family: vars.$fontMontserrat;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: vars.$colorBeige;
    color: vars.$colorDarkGreen;
    border-radius: 3px;
    &-group {
      flex: 1;
      width: 350px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 5%;
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      &:active {
        transform: scale(0.97);
      }
    }
    &-title {
      width: 180px;
      color: vars.$colorDarkGreen;
      font-size: 1.3em;

    }
  }
  
}
ion-icon:active{
    transform: scale(0.92);
}
.top{
  border-bottom: solid 1px vars.$colorMediumGreen;
}
@media only screen and (min-width: 1024px) {
  .home {
    &-logo {
      width: 320px;
    }
  }
}

