@use 'src/styles/_vars.scss';
.depot-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.radio-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & li {
    padding: 10px;
    font-family: vars.$fontLekton;
    color: vars.$colorMediumGreen;
    font-weight: 500;
    font-size: 1.2em;
  }
}
.selected {
  color: vars.$colorOrange;
}
.radio {
  opacity: 0;
}
.title {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: solid 1px vars.$colorMediumGreen;
}
.message {
  font-size: 1.5em;
  color: vars.$colorOrange;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 20px;
  }
}
.serverMessage {
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  font-weight: 600;
  font-size: 1.5em;
  &-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}