@use 'src/styles/_vars.scss';
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.smallComponent {
  width: 450px;
  height: 700px;
  border: solid 2px black;
}
.largeComponent {
  width: 940px;
  height: 700px;
  border: solid 2px black;
}