@use 'src/styles/_vars.scss';
.singlePage-container{
  display: flex;
  width: 100vw;
  padding-left: 80px;
  background: vars.$colorLightGreen;
}
.largeComponent{
  min-width: 66.6%;
  max-height: 80%;
  flex-basis:66.66%;
  color: black;
  padding-top: 200px;
  border: solid 2px blueviolet;
  margin: 20px;
}
.smallComponent{
  max-width: 33.33%;
  max-height: 80%;
  flex-basis:33.33%;
  border: solid 2px chartreuse;
  margin: 20px;
}